* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: hsl(var(--background-foreground));
}

main {
  width: 100%;
  min-height: 100vh;
  display: inline-flex;
  background-color: hsl(var(--background));
}

#auth-hero {
  display: none;
  max-width: 50%;
  position: relative;
}

#auth-hero .background {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

#auth-hero .content {
  position: relative;
  width: 100%;
  min-height: 100%;
  z-index: 1;
  padding: 6.5rem 4rem;
  color: hsl(var(--primary-foreground));
  background-color: hsla(var(--primary), 0.7);
}

#auth-hero .content .title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.6;
}

#auth-hero .content .description {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  #auth-hero {
    display: block;
  }
}

@media (min-width: 1536px) {
  #auth-hero {
    width: 50%;
  }

  #auth-hero .content {
    padding: 6.5rem 8rem;
  }
}

#auth-form {
  width: 50%;
  /* background-color: hsl(var(--primary)); */
  background-image: linear-gradient(to right top, #d16ba5, #d46fb1, #d674bd, #d679c9, #d67ed6, #c190ea, #aaa0f8, #94aeff, #67c5ff, #36daff, #2decff, #5ffbf1);
  color: hsl(var(--primary-foreground));
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: top;
  gap: 1rem;
}



.btn-back i {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn-back:hover i {
  transform: translateX(-0.5rem);
}

.btn-back:hover {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
}

#auth-form .header h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

#auth-form .header p {
  margin-top: 0.8rem;
}

#auth-form form .btn-submit {
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;
}

#auth-form {
  width: 70%;
  padding: 3rem 6rem;
}

#auth-form {
  width: 50%;
  padding: 4rem 8rem;
}

/* Form */
.input-group {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.input-group label {
  font-family: "Poppins", sans-serif;
}

/* form input */
.input-group input {
  padding: 1rem 1.5rem;
  height: 3.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.8rem;
  box-sizing: border-box;
  border: 1px solid hsl(var(--background-foreground));
  outline: none;
  background-color: transparent;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.input-group input:focus {
  border: 1px solid hsl(var(--primary));
}

.input-group input::placeholder {
  color: hsl(var(--background-foreground));
}

.input-group input.placeholder-primary {
  color: hsl(var(--white))
}

.input-group input.placeholder-primary:focus {
  border: 1px solid hsl(var(--white));
}

.input-group input.placeholder-primary::placeholder {
  color: hsla(var(--white), 0.5);
}

.input-group.border-primary input {
  border: 1px solid hsla(var(--white), 0.5);
}
/* button sign up */
.btn-secondary {
  background-color: hsl(var(--secondary));
  width: 100%;
  height: 3.5rem;
  color: hsl(var(--secondary-foreground));
  font-weight: 700;
  font-size: 14px;
  border-radius: 0.8rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn-secondary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, rgb(149, 27, 197), transparent);
  transition: transform 0.50s linear;
  transform: translateX(-100%);
}

.btn-secondary:hover::before {
  transform: translateX(100%);
}

.btn-secondary:hover {
  box-shadow: 0 10px 15px -3px rgba(65, 36, 36, 0.1), 0 4px 6px -4px rgba(227, 7, 239, 0.1);
}

.link {
  color: hsl(var(--primary-foreground));
}

.link-primary {
  color: hsl(var(--primary));
}

.link,
.link-primary {
  text-decoration: underline;
}

.link:hover,
.link-primary:hover {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

/* sytle homepage */
.btn {
  height: 4em;
  width: 12em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0px solid black;
  cursor: pointer;
}

.wrapper {
  height: 2em;
  width: 8em;
  position: relative;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 17px;
  z-index: 1;
  color: #000;
  padding: 4px 12px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.7);
  transition: all 0.5s ease;
}

.flower {
  display: grid;
  grid-template-columns: 1em 1em;
  position: absolute;
  transition: grid-template-columns 0.8s ease;
}

.flower1 {
  top: -12px;
  left: -13px;
  transform: rotate(5deg);
}

.flower2 {
  bottom: -5px;
  left: 8px;
  transform: rotate(35deg);
}

.flower3 {
  bottom: -15px;
  transform: rotate(0deg);
}

.flower4 {
  top: -14px;
  transform: rotate(15deg);
}

.flower5 {
  right: 11px;
  top: -3px;
  transform: rotate(25deg);
}

.flower6 {
  right: -15px;
  bottom: -15px;
  transform: rotate(30deg);
}

.petal {
  height: 1em;
  width: 1em;
  border-radius: 40% 70% / 7% 90%;
  background: linear-gradient(#07a6d7, #93e0ee);
  border: 0.5px solid #96d1ec;
  z-index: 0;
  transition: width 0.8s ease, height 0.8s ease;
}

.two {
  transform: rotate(90deg);
}

.three {
  transform: rotate(270deg);
}

.four {
  transform: rotate(180deg);
}

.btn:hover .petal {
  background: linear-gradient(#0761d7, #93bdee);
  border: 0.5px solid #96b4ec;
}

.btn:hover .flower {
  grid-template-columns: 1.5em 1.5em;
}

.btn:hover .flower .petal {
  width: 1.5em;
  height: 1.5em;
}

.btn:hover .text {
  background: rgba(255, 255, 255, 0.4);
}

.btn:hover div.flower1 {
  animation: 15s linear 0s normal none infinite running flower1;
}

@keyframes flower1 {
  0% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(365deg);
  }
}

.btn:hover div.flower2 {
  animation: 13s linear 1s normal none infinite running flower2;
}

@keyframes flower2 {
  0% {
    transform: rotate(35deg);
  }

  100% {
    transform: rotate(-325deg);
  }
}

.btn:hover div.flower3 {
  animation: 16s linear 1s normal none infinite running flower3;
}

@keyframes flower3 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn:hover div.flower4 {
  animation: 17s linear 1s normal none infinite running flower4;
}

@keyframes flower4 {
  0% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(375deg);
  }
}

.btn:hover div.flower5 {
  animation: 20s linear 1s normal none infinite running flower5;
}

@keyframes flower5 {
  0% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(-335deg);
  }
}

.btn:hover div.flower6 {
  animation: 15s linear 1s normal none infinite running flower6;
}

@keyframes flower6 {
  0% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(390deg);
  }
}




/* home page style */




* {
  box-sizing: border-box;
}

/* Responsive Web Desain */
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

 /* pr */
.header {
  /* background-color: #9933cc; */
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 1200px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* Button */
.button {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button:before {
  border: 4px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button:after {
  border: 4px solid #96daf0;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button:hover:before,
.button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover:after,
.button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #f0eeef;
}

.button:hover .button-box,
.button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}

/* LOgin */
