:root {
  --white: 0, 0%, 100%; /* #FFFFFF */
  --background: 0, 0%, 96%; /* #F5F5F5 */
  --background-foreground: 235, 14%, 22%; /* #282938 */
  --primary: 238, 68%, 18%; /* #1C1E53 */
  --secondary: 45, 89%, 75%; /* #FCD980 */
  --primary-foreground: 0, 0%, 100%; /* #FFFFFF */
  --secondary-foreground: 235, 14%, 22%; /* #282938 */
}